*{
margin: 0;
padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101727;
  }
  
  header {
    font-size: small;
    background-color: #010817;
    color: #89ffdc;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    margin-right: 50px;
    color: #89ffdc;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
  }
  
  
  main {
    padding: 20px;
  }
  
  footer {
    
    background-color: #010817;
    padding: 10px 20px;
    text-align: center; 
  }
  
  .search-container {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
  }
  
  .search-container input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-container button {
    padding: 10px 20px;
    background-color: #89ffdc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background-color: #4d9083;
  }

  img {
    display: flex;
    width: 125px;
    height: 125px;
    margin-left: 50px;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101727;
  }
  
  header {
    font-size: small;
    background-color: #010817;
    color: #89ffdc;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    margin-right: 50px;
    color: #89ffdc;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    
    background-color: #010817;
    padding: 10px 20px;
    text-align: center;
  }

  .login-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    margin-right: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #89ffdc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4d9083;
  }
  
  p {
    margin-top: 15px;
    text-align: center;
  }
  
  img {
    display: flex;
    width: 125px;
    height: 125px;
    margin-left: 50px;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101727;
  }
  
  header {
    font-size: small;
    background-color: #010817;
    color: #89ffdc;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;

  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    margin-right: 50px;
    color: #89ffdc;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #010817;
    padding: 10px 20px;
    text-align: center; 
  }

  .login-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #010817;
    padding: 20px;
    border-radius: 10px;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    margin-right: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #89ffdc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #89ffdc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4d9083;
  }
  
  p {
    margin-top: 15px;
    text-align: center;
  }
  
  img {
    display: flex;
    width: 125px;
    height: 125px;
    margin-left: 50px;
  }

  select {
    display: flex;
    width: 400px;
    height: 37px;
    border-radius: 5px;
    border-color: #89ffdc;
  }
  
@media screen and (max-width:600px){
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101727;
  }
  
  header {
    font-size: small;
    background-color: #010817;
    color: #89ffdc;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;

  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    margin-right: 50px;
    color: #89ffdc;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #010817;
    padding: 10px 20px;
    text-align: center; 
  }

  .login-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #010817;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 5000000px;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    margin-right: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #89ffdc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #89ffdc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4d9083;
  }
  
  p {
    margin-top: 15px;
    text-align: center;
  }
  
  img {
    display: flex;
    width: 125px;
    height: 125px;
    margin-left: 50px;
  }

  select {
    display: flex;
    width: 296px;
    height: 37px;
    border-radius: 5px;
    border-color: #89ffdc;
    margin-bottom: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
  }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101727;
  }
  
  header {
    font-size: small;
    background-color: #010817;
    color: #89ffdc;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    margin-right: 50px;
    color: #89ffdc;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
  }
  
  
  main {
    padding: 20px;
  }
  
  footer {
      
    background-color: #010817;
    padding: 10px 20px;
    text-align: center; 
  }
  
  .crud-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #010817;
    padding: 20px;
    border-radius: 8px;
  }
  
  .crud-container h2 {
    margin-bottom: 20px;
  }
  
  .crud-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .crud-container table th,
  .crud-container table td {
    border: 1px solid #010817;
    padding: 10px;
    text-align: left;
  }
  
  .crud-container table th {
    background-color: #89ffdc;
    color: #010817;
  }
  
  .crud-container form input,
  .crud-container form textarea {
    display: block;
    width: 97%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #89ffdc;
  }
  
  .crud-container form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #89ffdc;
    color: #010817;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .crud-container form button:hover {
    background-color: #4d9083;
  }
  
  img {
    display: flex;
    width: 125px;
    height: 125px;
    margin-left: 50px;
  }
  
  @media  screen and (max-width:600px) {
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #101727;
    }
    
    header {
      font-size: small;
      background-color: #010817;
      color: #89ffdc;
      padding: 10px 20px;
      display: flex;
      }
    
    nav ul {
      list-style-type: none;
  
    }
    
    nav ul li {
      display: inline;
      margin-right: 20px;
    }
    
    nav ul li a {
      margin-right: 50px;
      color: #89ffdc;
      text-decoration: none;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 17px;
    }
    
    main {
      padding: 20px;
    }
    
    footer {
      background-color: #010817;
      padding: 10px 20px;
      text-align: center; 
    }
  }
  